<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuttylabs.mocklocationtester">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:name="com.nuttylabs.mocklocationtester.ui.App">

        <!-- Google Maps API Key (required at runtime for the map tiles). -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBLui4Dk-WjU-9S_TWsMOqtFaw7JOydtfI" />

        <activity
            android:exported="true"
            android:name="com.nuttylabs.mocklocationtester.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
